Source: opensaml2
Section: libs
Priority: extra
Maintainer: Debian Shib Team <pkg-shibboleth-devel@lists.alioth.debian.org>
Uploaders: Russ Allbery <rra@debian.org>, Ferenc Wagner <wferi@niif.hu>
Build-Depends: debhelper (>= 5), autotools-dev, liblog4cpp5-dev, libxerces27-dev | libxerces28-dev,
 libxml-security-c-dev (>= 1.4), libxmltooling1-dev
Standards-Version: 3.7.2

Package: libsaml2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open source SAML library
 OpenSAML is an open source implementation of the OASIS Security Assertion
 Markup Language Specification. It contains a set of open source C++ classes
 that support the SAML 1.0, 1.1, and 2.0 specifications.
 .
 This package contains the saml runtime library.

Package: opensaml2-schemas
Section: text
Architecture: any
Conflicts: opensaml-schemas
Description: OpenSAML development Headers
 OpenSAML is an open source implementation of the OASIS Security Assertion
 Markup Language Specification. It contains a set of open source C++ classes
 that support the SAML 1.0, 1.1, and 2.0 specifications.
 .
 This package contains the SAML schema files.

Package: libsaml2-dev
Section: libdevel
Architecture: any
Depends: libsaml2 (= ${Source-Version})
Suggests: libsaml2-doc (= ${Source-Version})
Conflicts: libsaml-dev
Description: OpenSAML development Headers
 OpenSAML is an open source implementation of the OASIS Security Assertion
 Markup Language Specification. It contains a set of open source C++ classes
 that support the SAML 1.0, 1.1, and 2.0 specifications.
 .
 This package contains the headers and other necessary files to build
 applications or libraries that use or extend the saml library.

Package: libsaml2-doc
Section: doc
Architecture: all
Description: OpenSAML API Documentation
 OpenSAML Library API documentation generated by Doxygen.
